<div class="row">
  <div class="col-xs-12">


    <form *ngIf=" (ingredient$ | async) as ingredient" #form="ngForm" (ngSubmit)="onAddItem(form.value)">
      {{ingredient?.name}}
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
            [(ngModel)]="ingredient.name"
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>

          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            required
            [(ngModel)]="ingredient.amount"

          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button *ngIf="!isEdit" class="btn btn-success" type="submit">Add</button>
          <button *ngIf="isEdit" class="btn btn-success" type="submit">update</button>
          <button class="btn btn-danger" type="button" (click)="delete(form)">Delete</button>
          <button class="btn btn-primary" type="button" (click)="clear(form)">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
